<div id="auth" class="container-fluid">
    <div class="row">
      <div class="auth-wrapper col-lg-6 col-12 offset-lg-3 offset-1">
        <div class="col-12" style="padding-top: 2rem; margin-bottom: 4rem;text-align: center;">
          <h2 class="col-12" style="margin-bottom: 0rem; color: rgb(136, 136, 136); font-size: 2rem;">naya</h2>
          <h3 class="col-12" style="margin-bottom: 0rem;  color: black; font-weight: 200; font-size: 2.2rem;">Maker</h3>
        </div>
        <div class="col-lg-10 col-12 offset-lg-1" style="font-size: 1.2rem;">
          <form class="" #myform="ngForm" (ngSubmit)="onFormSubmit(myform)">
            <div class="form-group">
              <label class="form-label" for="formBasicEmail">Email address</label>
              <input placeholder="Enter email" name="email" (ngModel)="email" required type="email" id="formBasicEmail" class="form-control" value="">
            </div>
            <div class="form-group">
              <label class="form-label" for="formBasicPassword">Password</label>
              <input placeholder="Password" name="password" (ngModel)="password" required type="password" id="formBasicPassword" class="form-control" value="">
            </div>
            <div class="form-group">
              <label class="form-label" for="capacity">Capacity</label>
              <!-- <input placeholder="Capacity" name="password" type="password" id="formBasicPassword" class="form-control" value=""> -->
              <select class="form-control" name="capacity" (ngModel)="capacity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10+">10+</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="material">Material</label>
              <select class="form-control" name="material" (ngModel)="material">
                <option value="Wood">Wood</option>
                <option value="Metal">Metal</option>
                <option value="Glass">Glass</option>
                <option value="Plastic">Plastic</option>
                <option value="Concrete">Concrete</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="location">Location</label>
              <input placeholder="Location" name="location" (ngModel)="location" required type="text" id="location" class="form-control" value="">
            </div>
            <div class="col-12">
              <div class="row text-center">
                <button id="submitbtn" type="submit" class="btn btn-dark" style="margin:0 auto;">Submit</button>
              </div>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>